{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome To BDSM</h1>
    <p class="lead">This project is built from Katrina Kopio’s original proposal for a movie application. The movie database is structured based on the movie industry today, with entities representing actors and directors, movie soundtrack, songs, and reviews from professionals. This database also allows the user to add their own personal reviews.</p>
    <p class="lead">The objective of this project is to allow users to take note and rate their own movies but it’ll be a more personalized list. It also acts as an offline database for movies. This database is for personal use which is why it does not support several users, or logging in and out.</p>
    <p class="lead">The audience of our proposed application are movie junkies, cinephiles, and etc.</p>
  </div>
{% endblock %}
