{% extends 'layout.html' %}

{% block body %}
    <h1>Movie: {{ content["movie"].Title}}</h1>
    <div class="editableSectionA">
        <p>Movie ID: {{content["movie"].MovieID}}</p>
        <p>Title: {{content["movie"].Title}}</p>
        <p>Premise: {{content["movie"].Premise}}</p>
        <p>Genre: {{content["movie"].Genre}}</p>
        <p>Year: {{content["movie"].Year}}</p>
        <p>Length: {{content["movie"].Length}}</p>
    </div>
    <!--  editing the following: title, premise, genre, year, length-->
    <div class="editableSectionB">
        <form class="" action="/movies/{{content['movie'].MovieID}}/update/" method="POST">
            <p>MovieID: {{content["movie"].MovieID}}</p>
            <p>Title: <input style="min-width: 300px"class="control-form"type="text" name="newTitle" value="{{content['movie'].Title}}"></p>
            <p>Premise: <input style="min-width: 300px"class="control-form"type="text" name="newPremise" value="{{content['movie'].Premise}}"></p>
            <p>Genre: <input style="min-width: 300px"class="control-form"type="text" name="newGenre" value="{{content['movie'].Genre}}"></p>
            <p>Year: <input style="min-width: 300px"class="control-form"type="text" name="newYear" value="{{content['movie'].Year}}"></p>
            <p>Length: <input style="min-width: 300px"class="control-form"type="text" name="newLength" value="{{content['movie'].Length}}"></p>
            <div class="editableSectionB">
                <button type="submit" name="button" class="btn btn-success">Save Changes</button>
            </div>
        </form>
    </div>
    <div class="editableSectionA">
        <button onclick="toggleEdit()" type="button" name="button" class="btn btn-warning">Edit This Song</button>
    </div>
    <div class="editableSectionB">
        <button onclick="toggleEdit()" type="button" name="button" class="btn btn-danger">Cancel</button>
    </div>
    <div class="editableSectionA">
        <form class="" action="/movies/{{content['movie'].MovieID}}/deleteMovie/" method="POST">
            <button type="submit" name="button" value="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
{% endblock %}
