{% extends 'layout.html' %}

{% block body %}
    <h1>Song: {{ content["song"].songname }}</h1>
    <div class="editableSectionA">
        <p>SongID: {{content["song"].songid}}</p>
        <p>Song Name: {{content["song"].songname}}</p>
        <p>Artist: {{content["song"].artist}}</p>
    </div>
    <div class="editableSectionB">
        <form class="" action="/songs/{{content['song'].songid}}/update/" method="POST">
            <p>SongID: {{content["song"].songid}}</p>
            <p>Song Name: <input style="min-width: 300px"class="control-form"type="text" name="newSongName" value="{{content['song'].songname}}"></p>
            <p>Artist: <input style="min-width: 300px"class="control-form"type="text" name="newArtist" value="{{content['song'].artist}}"></p>
            <div class="editableSectionB">
                <button type="submit" name="button" class="btn btn-success">Save Changes</button>
            </div>
        </form>
    </div>
    <div class="editableSectionA">
        <button onclick="toggleEdit()" type="button" name="button" class="btn btn-warning">Edit This Song</button>
    </div>
    <div class="editableSectionB">
        <button onclick="toggleEdit()" type="button" name="button" class="btn btn-danger">Cancel</button>
    </div>
    <h2>{{content["song"].songname}} has been played in the following OST:</h2>
    <table class="table table-hover">
        <thead>
            <th>OST ID</th>
            <th>Album Name</th>
            <th>Genre</th>
            <th>Year</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button type="button" name="view" class="btn btn-link"><a href="/songs/{{content['song'].songid}}/addOST">Add Another OST</a></button></td>
            </tr>
            {% for r in content["playedin"] %}
            <tr>
                <td>{{ r.ostid }}</td>
                <td>{{r.albumName}}</td>
                <td>{{r.genre}}</td>
                <td>{{r.year}}</td>
                <td>
                    <form class="" action="/songs/{{content['song'].songid}}/deleteOST/{{r.ostid}}" method="POST">
                        <button type="submit" name="button" value="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
